body {
    background: rgb(16,34,139);
    background: linear-gradient(0deg, rgba(16,34,139,1) 0%, rgba(58,58,179,1) 35%, rgba(115,98,205,1) 100%) fixed;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    padding-top: 20px;
}
.header img {
    margin-right: 10px;
}

.link {
    color: white;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    margin-bottom: 30px;
    width: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link:hover {
    background-color: rgba(245, 220, 77, 0.7);
}
.link img {
    margin-right: 10px;
}

.rights {
    color: white;
    font-size: 11px;
    margin-top: 30px;
}