#all{
  background-color:#ADD8E6;
}

#buttons span{
  padding: 5px;
  border: 1px solid black;
}
#buttons {
  margin-top: 20px;
}
#header{
  background-color: #FAEBD7
  display: flex;
  justify-content: space-between;
  width: 300px;
  align-items: center;
  font-family: 'Concert One',  cursive
}

.active {
  background: #F08080;
}

#hold {
  margin: 20px;
}

#hold span {
  padding: 5px;
}

